# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
source/blas/blas.vcxproj.user
/source/blas/x64
source/block/block.vcxproj.user
/source/block/x64
/source/bspline/x64
/source/bspline/bspline.vcxproj.user
/source/bst/bst.vcxproj.user
/source/bst/x64
/source/cblas/x64
/source/cblas/cblas.vcxproj.user
/source/cdf/x64
/source/cdf/cdf.vcxproj.user
/source/cheb/x64
/source/cheb/cheb.vcxproj.user
/source/combination/x64
/source/combination/combination.vcxproj.user
/source/complex/x64
/source/complex/complex.vcxproj.user
/source/deriv/x64
/source/deriv/deriv.vcxproj.user
/source/dht/x64
/source/dht/dht.vcxproj.user
/source/diff/x64
/source/diff/diff.vcxproj.user
/source/eigen/x64
/source/eigen/eigen.vcxproj.user
/source/err/x64
/source/err/err.vcxproj.user
/source/fft/x64
/source/fft/fft.vcxproj.user
/source/filter/x64
/source/filter/filter.vcxproj.user
/source/fit/x64
/source/fit/fit.vcxproj.user
/source/histogram/x64
/source/histogram/histogram.vcxproj.user
/source/ieee-utils/x64
/source/ieee-utils/ieee-utils.vcxproj.user
/source/integration/x64
/source/integration/integration.vcxproj.user
/source/interpolation/x64
/source/interpolation/interpolation.vcxproj.user
/source/linalg/x64
/source/linalg/linalg.vcxproj.user
